.shadow {
  -webkit-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
}

.generateLink {
  margin: 0 auto;
  margin-top: 5px;
  height: 10vh;
  background: #f2f2f2;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #fff inset, -1px -1px 2px #fff inset;
  border-radius: 3px/6px;
}
